/* hero section start*/
.hero {
  display: grid;
  min-height: 100vh;
  align-content: space-around;
  grid-template-columns: 1fr auto;
  grid-template-rows: minmax(400px, 800px);
  grid-template-areas: "header pict";
  justify-items: center;
  align-items: center;
  margin: 1rem 1.5rem;
  padding: 1.5rem 2rem;
}

/* fix */

.hero img {
  grid-area: pict;
  position: relative;
  border-radius: 50%;
  border: 20px solid var(--primary-300);
  border-style: double;
}

.hero .hero-content {
  display: grid;
  grid-area: header;
  align-content: center;
  height: 100%;
  text-align: start;
}

.hero .hero-content h4,
.hero .hero-content h3 {
  font-family: "Aladin", system-ui;
  color: var(--accent-200);
  font-size: 3rem;
}

.hero .hero-content h3 span {
  color: var(--primary-200);
}

.hero .hero-content h4 span {
  color: var(--primary-200);
}

.hero .hero-content p {
  margin-top: 2rem;
  color: var(--text-100);
  font-size: 1.5rem;
  width: 90%;
}

.hero-content .socials {
  display: flex;
  position: relative;
  gap: 1rem;
  margin-top: 2.5rem;
}

.hero-content .socials-media {
  cursor: pointer;
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  box-sizing: border-box;
  background-color: var(--primary-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content .socials-media:hover {
  background-color: var(--bg-300);
}

.hero-content .socials-media svg {
  width: 2rem;
  height: 2rem;
}

.download-resume {
  position: relative;
  top: 0.7rem;
  width: fit-content;
}

.download-resume a {
  position: relative;
  display: grid;
  grid-area: header;
  left: 0;
  top: 3rem;
  cursor: pointer;
  border-radius: 3rem;
  padding: 1.3rem 1.3rem;
  background-color: var(--bg-300);
  color: var(--accent-200);
}

.download-resume a:hover {
  background-color: var(--primary-100);
}

.download-resume a span {
  font-weight: bold;
}

/* hero section end */
