/* My project start */
.projects {
  padding: 8rem 7% 1.4rem;
  position: relative;
  text-align: center;
  height: 100vh;
  margin-bottom: 5rem;
}

.projects h4 {
  font-weight: bold;
  color: var(--accent-200);
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

.projects .projects-pict {
  display: grid;
  /* grid-gap: 1rem; */
  grid-template-columns: repeat(3, minmax(200px, 800px));
  /* margin: auto 3rem;  */
  align-content: start;
}

.projects .projects-pict img {
  align-self: start;
  border-radius: 20% 20%;
  width: 87%;
  height: 20rem;
  /*width: 85%;
  height: 87%;
  */
  margin: 5rem auto;
  border-style: solid;
  -webkit-border-radius: 20% 20%;
  -moz-border-radius: 20% 20%;
  -ms-border-radius: 20% 20%;
  -o-border-radius: 20% 20%;
}
/* My project end */
